footer{
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    
    
}
img{
    width: 350px;
    height: 350px;
    position: relative;
}
.checkout-btn{
    position: center;
    margin-left: 30%;
    
}
.navbar{
    background-color: rgb(5, 14, 99);
}
.detalle{
    margin-top: 30px;
}
.estadistica{
    margin-top: 30px;
}
.btn-primary{
    margin-bottom: auto;
    background-color: black;
}